<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Billsy | Home</title>
</head>
<body>
    <header class="home-head">
        <img src="https://ih1.redbubble.net/image.2175954994.1006/st,small,507x507-pad,600x600,f8f8f8.jpg" alt="">
    </header>
    <main>
        <div class="home-text">
            <h1>Welcome to BILLSY!</h1>
            <h4>Why worry about searching for the bills all over the house?</h4>
            <h4>Here you can have all your bills in just one place!</h4>
        </div>
        <nav class="home nav">
            <a href="./login.html">Login</a>
            <span>   or   </span>
            <a href="./register.html">Register</a>
        </nav>
    </main>
    
    <footer>
        <p>Billsy 2022 &copy; All rights reserved.</p>
    </footer>
</body>
</html>