<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="../assets/js/login.js" defer></script>
    <title>Billsy | Login</title>
</head>
<body>
    <header>
    <nav class="login nav">
        <a href="./home.html">Home</a>
        <a href="./register.html">Register</a>
    </nav>
    <h1>Billsy &trade;</h1>
    </header>
    <main>
        <h2>Login</h2>
        <div class="errors">
        </div>
        <form id="login">
            <input type="email" name="email" placeholder="Enter your email">
            <input type="password" name="password" placeholder="Enter your password">
            <button type="">Login</button>
        </form>
        <a href="./register.html">Don't have an account? Register here</a>
    </main>
    
    <footer>
        <p>Billsy 2022 &copy; All rights reserved.</p>
    </footer>
</body>
</html>