<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="../assets/js/register.js" defer></script>
    <title>Billsy | Register</title>
</head>
<body>
    <header>
        <nav class="register nav">
            <a href="./home.html">Home</a>
            <a href="./login.html">Login</a>
        </nav>
        <h1>Billsy &trade;</h1>
    </header>
    <main>
        <h2>Register</h2>
        <div class="errors">
        </div>
        <form id="register">
            <input type="text" name="full_name" placeholder="Full name">
            <input type="email" name="email" placeholder="Enter your email">
            <input type="password" name="password" placeholder="Enter your password">
            <input type="password" name="repeatPassword" placeholder="Repeat your password">
            <button type="">Register</button>
        </form>
        <a href="./login.html">Already have an account? Login here</a>
    </main>
    
    <footer>
        <p>Billsy 2022 &copy; All rights reserved.</p>
    </footer>
</body>
</html>